html,
body {
    margin: 0;/*画面端まで黒くなる*/
    padding: 0;
    max-width:100%;
}

.main {
    font-size: 0.8rem;
    /*width: 100vw;
    height: 100vh;*/
    /*background: rgb(0, 0, 0);*/
    background: transparent;
    color: rgb(255, 255, 255);
}

nav {
    position: fixed; /* 画面上に固定 */
    top: 0;/* 上部に固定 */
    left: 0;
    display: flex;/* 横並びにする */
    width: 100%;/* 幅を画面全体に広げる */
    /*background-color: #1f1f1f;/* ナビゲーションバーの背景色 */
    z-index: 1000;/* 他の要素より前面に表示されるようにする */
    padding: 10px 0;/* 上下の余白を調整 */
}

.logo_yoko {
    height: 30px;
    margin-left : 10px;
    margin-right: 50%;
    /* ロゴの高さを調整 */
}

.nav_links ul {
    display: flex;/* 横並びにする */
    list-style: none; /* リストのドットを消す */
    margin: 0;
    padding: 0;
}

.nav_links ul li {
    margin-right: 20px;
    /* リスト項目の間隔を調整 */
}

.nav_links ul li a {
    text-decoration: none;
    /* アンダーラインを消す */
    color: rgb(255, 255, 255);
    font-family: Avenir;
    font-weight: 400;
}
.SNS{
    width: 20px;
    height: 20px;
    display: flex;
    gap:20px;
}

/* ------------------------------------ヘッダー------------------------------------------*/

.sumida_pic {
    position: fixed;
    z-index: -10;
    max-height : 100vh;
    width: auto; /* 横幅は自動調整 */
    height: 100vh; /* 画面の縦幅いっぱいに表示 */
    object-fit: cover; /* 必要に応じて画像の一部を切り取る */
    object-position: left top; /* 画像を中央寄せ */
}
.container{
    position: relative; 
    height: 844px;
}

.moya_pic{
    position: absolute; 
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -1; 
}

.moya_pic img{
    object-fit: cover; 
    clip-path: circle(2000px at 0% 150%);
    /*filter: blur(50px);*/
}

.moya_pic2{
    position: absolute; 
    max-width: 100%;
    z-index: -2; 
}

.moya_pic2 img{
    object-fit: cover; 
    clip-path: circle(2000px at 0% 150%);
    /*filter: blur(50px);*/
}

/*.moya_pic_d {
    display: none;
}
.moya_pic_m {
    position: relative; 
    filter: brightness(0.8); 
    width: 100vh;
    z-index: -1; 
}*/
.kaisai_information{
    position: relative;
}

.contents1 {
    font-family: Avenir;
    line-height: normal;
    max-width: 100vw;
}


.event_title {
    margin-top: 336px;
    padding: 0px 31px;
    color: var(--white, #FFF);
text-align: center;
font-family: "DNP ShueiYMinStd";
font-size: 16px;
font-weight: 600;
line-height: 2;
letter-spacing: 1.28px;
}
.image_nichiji{
    margin-left: 30px;
    padding-top: 5px;
    justify-items: center;
    width: 118.049px;
    height: 47px;
}
.image_loupe{
    margin-top: 24px;
    margin-left: -280px;
    align-items: baseline;
    width: 16px;
    height: 16px;

}
.venue_name {
    margin-left: -280px;
    margin-top: -10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 250;
    line-height: 150%; /* 21px */
    letter-spacing: 1.12px;
}

.venue_address {
    display: none;
}
.black_blank{
    margin-top:-594px;
    position: relative; 
    width: 100%;
    height: 844px;
    background: var(--black, #000000);
}

/* ------------------------------------開催情報------------------------------------------*/

.contents4  {
    margin-top: -50px;
    position: relative;  /* 子要素の絶対位置を基準にする */
    background-color: #000000;
    height: 844px;

}
.map_back {
    display: none;
}

.kaisai_detail {
    position: relative;
    /* 画像の上に重ねるために絶対配置 */
    top: 300px;
    left: 0px;
    /* 必要に応じて位置を調整 */
}

.more_detail {
    text-align: center;
    font-family:  "futura-pt", sans-serif;
    font-size: 24px;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0.96px;
}

.more_detail_jp {
    margin-top:-15px;
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 250;
    line-height: 150%; /* 24px */
    letter-spacing: 1.28px;
}
#googlemapbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;  /* 正方形のサイズ */
    height: 294px; /* 正方形のサイズ */
    border-radius: 32px; /* 角にアールをつける */
    overflow: hidden; /* 角の外に出る部分を隠す */
    transform: translate(50px, 0px);
  }
  
  #googlemap {
    width: 100%;
    height: 100%;
    border: none; /* 枠線を消す */
  }
.images{
    padding-top: 356px;
    padding-left: 48px;
    width: 20px;
    height: 20px;
    display:flex;
    flex-direction: column; /* アイテムを縦に並べる */
  gap: 32px; /* アイテム間の隙間 */
}

.about_venue{
    padding-left:84px;
    margin-top: -30px;
    font-family: Avenir;
    font-size: 12px;
    font-style: normal;
    font-weight: 250;
    line-height: 150%; /* 18px */
    letter-spacing: 0.96px;
}

.venue_date{
    width: 190px;
}
.venue_address2 {
    margin-top: 5px;
    width: 253px;
}

.venue_access {
    width: 140px;
    padding-top: 5px;
}  

/* ------------------------------------開催概要・地図------------------------------------------*/
.contents5{
    background-color: #000000;
    font-family: Avenir;
    align-items: center;
    text-align: center;
    height:844px;
}

.godo_exhibition{
    padding-top: 330px;
    padding-bottom: 330px;
    background-color: #000000;
}
.exhibition_title {
    padding-top: 377px;
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 1.28px;
}

.exhibition_explain {
    padding: 0px 32px;
    font-family: "Hiragino Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 18px */
    letter-spacing: 0.96px;
}
.button2{
    display: inline-flex;
    text-decoration: none;
    color:#ffffff;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 1.12px;
    padding: var(--Blur-100, 4px) 16px;
    border-radius: 32px;
    border: 1px solid var(--white, #FFF);
}

/* ------------------------------------合同卒展------------------------------------------*/

.sponsor{
    background-color: #ffffff;
    padding-bottom:300px;
}
.tail{
    width: 100%;
}

.contents6{
    text-align: center;
    color :black;
}
.sponsor_title {
    padding-top:150px;
    font-family: "futura-pt", sans-serif;
font-size: 40px;
font-weight: 450;
letter-spacing: 1.6px;
}
.sponsor_title_jp {
    font-family: Avenir;
font-size: 24px;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 3.36px;
}
.sponsor_name{
    color: #757575;
font-family: Avenir;
font-size: 20px;
font-weight: 400;
line-height: 150%; /* 30px */
letter-spacing: 2.8px;
}

/* ------------------------------------協賛企業------------------------------------------*/

