html,
body {
    margin: 0;/*画面端まで黒くなる*/
    padding: 0;
}

.main {
    font-size: 0.8rem;
    /*width: 100vw;
    height: 100vh;*/
    /*background: rgb(0, 0, 0);*/
    background: transparent;
    color: rgb(255, 255, 255);
}

nav {
    position: fixed; /* 画面上に固定 */
    top: 0;/* 上部に固定 */
    left: 0;
    display: flex;/* 横並びにする */
    width: 100%;/* 幅を画面全体に広げる */
    /*background-color: #1f1f1f;/* ナビゲーションバーの背景色 */
    z-index: 1000;/* 他の要素より前面に表示されるようにする */
    padding: 10px 0;/* 上下の余白を調整 */
}

.logo_yoko {
    height: 30px;
    margin-left : 10px;
    margin-right: 50%;
    /* ロゴの高さを調整 */
}

.nav-links ul {
    display: flex;/* 横並びにする */
    list-style: none; /* リストのドットを消す */
    margin: 0;
    padding: 0;
}

.nav-links ul li {
    margin-right: 20px;
    /* リスト項目の間隔を調整 */
}

.nav-links ul li a {
    text-decoration: none;
    /* アンダーラインを消す */
    color: rgb(255, 255, 255);
    font-family: Avenir;
    font-weight: 400;
}
.SNS{
    width: 20px;
    height: 20px;
    display: flex;
    gap:20px;
}

/* ------------------------------------ヘッダー------------------------------------------*/

.sumida_pic {
    position: fixed;
    z-index: -10;
    /*filter: brightness(0.8);*/
    
}
.moya_pic {
    position: absolute;
    filter: brightness(0.8);
    
}
.kaisai_information{
    display: flex;
    position: relative;
}

.contents1 {
    font-family: Avenir;
    line-height: normal;
}

.event-title {
    padding-top: 720px;
    padding-left:80px;
    font-family: "DNP ShueiYMinStd";
font-size: 32px;
font-weight: 600;
line-height: normal;
letter-spacing: 4.48px;
}
.image_nichiji{
    padding-left:40px;
    width: 209px;
height: 83.213px;
    display:flex;
}
.image_loupe{
    margin-top: -85px;
    padding-left:337px;
    width: 32px;
    display:flex;
}
.venue-name {
    margin-top: -32px;
    padding-left: 377px;
    font-size: 24px;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 3.36px;
}

.venue-address {
    color: var(--gray, #BABABA);
    margin-top: -15px;
    padding-left: 377px;
    font-size: 16px;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 2.24px;
}

/* ------------------------------------開催情報------------------------------------------*/

.kaisai_detail {
    position: relative;  /* 子要素の絶対位置を基準にする */
    background-color: #000000;
}
.black_blank{
    margin-top:50px;
    position: relative; /* 親要素内に配置 */
    width: 100%;
height: 260px;
background: var(--black, #000000);
}

.map_back {
    position: relative; /* 親要素内に配置 */
    margin-left: 93px;
    width: 1222px;
height: 414px;
border-radius: 40px;
border: 8px solid #343434;
background: var(--black, #101010);
}

.contents4 {
    position: absolute;
    /* 画像の上に重ねるために絶対配置 */
    top: 340px;
    /* 必要に応じて位置を調整 */
    left: 157px;
}

.more_detail {
    font-family:  "futura-pt", sans-serif;
    font-size: 40px;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 1.6px;
}

.more_detail_jp {
    margin-top:-36px;
    font-family: Avenir;
    font-size: 24px;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 3.36px;
}
.images{
    width: 32px;
    display:flex;
    flex-direction: column; /* アイテムを縦に並べる */
  gap: 36px; /* アイテム間の隙間 */
}

.about_venue{
    margin-top:-184px;
    padding-left:44px;
    font-family: Avenir;
font-size: 20px;
font-weight: 400;
line-height: 150%; /* 30px */
letter-spacing: 2.8px;
}

.venue-address2 {
    margin-top: 5px;
}

.venue-access {
    padding-top: 5px;
}

#googlemapbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 334px;  /* 正方形のサイズ */
    height: 334px; /* 正方形のサイズ */
    border-radius: 32px; /* 角にアールをつける */
    overflow: hidden; /* 角の外に出る部分を隠す */
    transform: translate(770px, -315px);
  }
  
  #googlemap {
    width: 100%;
    height: 100%;
    border: none; /* 枠線を消す */
  }
  

/* ------------------------------------開催概要・地図------------------------------------------*/

.godo_exhibition{
    background-color: #000000;
    font-family: Avenir;
    align-items: center;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 377px;
}
.exhibition_title {
    padding-top: 377px;
    font-size: 32px;
font-weight: 900;
line-height: 150%; /* 48px */
letter-spacing: 4.48px;
}

.exhibition_explain {
font-size: 20px;
font-weight: 400;
line-height: 150%; /* 30px */
letter-spacing: 2.8px;
}
.button2{
    display: inline-flex;
    text-decoration: none;
    color:#ffffff;
    font-family: Avenir;
font-size: 24px;
font-weight: 900;
line-height: 150%; 
letter-spacing: 3.36px;
padding: 8px 28px;
border-radius: 32px;
border: 2px solid var(--white, #FFF);
}

/* ------------------------------------合同卒展------------------------------------------*/

.sponsor{
    background-color: #ffffff;
    padding-bottom:300px;
}
.tail{
    width: 100%;
}

.contents6{
    text-align: center;
    color :black;
}
.sponsor_title {
    padding-top:150px;
    font-family: "futura-pt", sans-serif;
font-size: 40px;
font-weight: 450;
letter-spacing: 1.6px;
}
.sponsor_title_jp {
    font-family: Avenir;
font-size: 24px;
font-weight: 400;
line-height: 150%; /* 36px */
letter-spacing: 3.36px;
}
.sponsor_name{
    color: #757575;
font-family: Avenir;
font-size: 20px;
font-weight: 400;
line-height: 150%; /* 30px */
letter-spacing: 2.8px;
}

/* ------------------------------------協賛企業------------------------------------------*/
